/*
---------
COMMON
---------
*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}



/*
---------
HEADER
---------
*/

header {
    height: 70px;
}

#logo {
    display: inline-block;
    vertical-align: middle;
}

h1 {
    display: inline-block;
    vertical-align: middle;
}

/*
---------
MAIN
---------
*/

main {
    background-color: #f6f8f9;
    padding: 30px;
}

.container {
    background-color: white;
    width: 900px;
    margin: auto;
    padding: 30px 0px 40px 20px;
    border-radius: 1%;
}

h2 {
    display: inline-block;
    font-size: 18px;
}

ul {
    list-style: none;
    margin-bottom: 30px;
}

li{
    margin-top: 15px;
}

li::before {
    content: ' \2713';
    color: green;
    vertical-align: middle;
    text-align: center;
    border: 1px solid green;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
}

li.cross::before{
    content: ' \00d7';
    color: red;
    border-color: red;
}

.category{
    display: inline-block;
    padding: 5px 10px;
    font-size: 12px;
    color: white;
    border-radius: 35%;
}

.blue{
    background-color: #09a9ed;
}

.purple{
    background-color: #ab5de6;
}

.green{
    background-color: #a7e7dc;
}

.orange{
    background-color: #ff9b00;
}

.pink{
    background-color: #ec4a9d;
}

.yellow{
    background-color: #a3d116;
}